p, h2 {
    padding-left: 10px;
    padding-right: 10px;
}

.Section--full {
 width: 100%;
 margin: 0;
 justify-content: center;
 display: flex;
 border: solid;
 border-bottom: none;
}

.Section--left {
    margin-right: auto;
    border: solid;
    border-right: none;
}

.Section--right {
    margin-left: auto;
    border: solid;
}

.new_box::after {
  content: 'New!';
  float: right;
  padding: 7px;
  font-size: 15px;
  background-color: grey;
  margin-right: -10px;
}

.Column-parent {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.Section--red-text .section__text {
    color: red;
}

